<html>
<head>

  <link href="/assets/stylesheets/styles.css" rel="stylesheet" type="text/css">

</head>
<body>

  <section class="view active" data-view="start">

    <h1>Name?</h1>

    <form class="name">
      <input class="name__input">
      <input type="submit" value="send" class="name__submit">
    </form>

  </section>

  <section class="view" data-view="game">

    <h1>Game</h1>

    <div class="objects"></div>

  </section>

  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
  <script src="/assets/javascripts/client.js"></script>
</body>
</html>